CONFIG_EMBARK=y

#
# Embark general configuration
#
# CONFIG_EMBARK_DEBUG is not set
CONFIG_EMBARK_PROPAGATE_CONF=y
# CONFIG_TEST is not set
# end of Embark general configuration

#
# Project
#
CONFIG_PRODUCE_ELF=y
CONFIG_PROJECT_NAME="lway"
CONFIG_PROJECT_VERSION="0.1.0"
CONFIG_BUILD_DIR="target"
CONFIG_PROJECT_KIND_EXECUTABLE=y
# CONFIG_PROJECT_KIND_LIBRARY is not set
# CONFIG_PROJECT_KIND_YOCTO is not set
# CONFIG_NATIVE is not set
CONFIG_CROSS=y
CONFIG_LINUX=y
# CONFIG_BARE_METAL is not set
# CONFIG_ZEPHYR is not set
# CONFIG_RTT is not set
CONFIG_CROSS_LINUX=y
CONFIG_DEFAULT_BUILD_TYPE_DEBUG=y
# CONFIG_DEFAULT_BUILD_TYPE_RELEASE is not set
# CONFIG_FETCHER_PREFERRED_GIT is not set
CONFIG_FETCHER_PREFERRED_ARCHIVE=y
# end of Project

CONFIG_TARGET_DEPLOY=y
CONFIG_TARGET_NAME="target"
CONFIG_TARGET_PATH="~"

#
# Languages Support
#
# CONFIG_LANG_C is not set
CONFIG_LANG_RUST=y
CONFIG_RUST_TOOLCHAIN_VERSION="1.85.0"
CONFIG_RUST_STD=y
# CONFIG_RUST_TARGET_ARMV7_UNKNOWN_LINUX_GNUEABIHF is not set
CONFIG_RUST_TARGET_THUMBV7NEON_UNKNOWN_LINUX_GNUEABIHF=y
# CONFIG_RUST_TARGET_ARM_UNKNOWN_LINUX_GNUEABI is not set
# CONFIG_RUST_TARGET_AARCH64_UNKNOWN_LINUX_GNUEABI is not set
CONFIG_RUST_TARGET="thumbv7neon-unknown-linux-gnueabihf"
# CONFIG_RUST_CUSTOM_LINKER_SCRIPT is not set
CONFIG_RUST_RUNNER_QEMU=y
CONFIG_RUST_PANIC_ABORT=y
# CONFIG_RUST_PANIC_UNWIND is not set
CONFIG_CARGO=y
# CONFIG_CARGO_INIT is not set
CONFIG_RUST_SKELETON=y
# CONFIG_LANG_PYTHON is not set
# CONFIG_LANG_HELLO_WORLD is not set
# end of Languages Support

#
# Toolchain Configuration
#
CONFIG_CROSS_ARCH_ARM=y
# CONFIG_CROSS_ARCH_AARCH64 is not set
# CONFIG_CROSS_ARCH_X86 is not set
# CONFIG_CROSS_ARCH_RISCV is not set
# CONFIG_CROSS_ARCH_AVR is not set
# CONFIG_RUST_FFI is not set

#
# Build System Configuration
#
CONFIG_BUILD_SYSTEM_NONE=y
# CONFIG_BUILD_SYSTEM_MESON is not set
# CONFIG_BUILD_SYSTEM_CMAKE is not set
# CONFIG_BUILD_SYSTEM_RUST is not set
# CONFIG_BUILD_MAKE is not set
# end of Build System Configuration

# CONFIG_TOOLCHAIN_GCC is not set
CONFIG_TOOLCHAIN_YOCTO_SDK=y

#
# Yocto SDK Configuration
#
CONFIG_TOOLCHAIN_YOCTO_SDK_PATH="/opt/amy/1.0"
CONFIG_TOOLCHAIN_YOCTO_SDK_ENV_SOURCE=y
# end of Yocto SDK Configuration

CONFIG_ADDITIONAL_CFLAGS=""
CONFIG_SHELL="/bin/bash"
CONFIG_ARCH_ARM=y
# end of Toolchain Configuration

CONFIG_QEMU=y
CONFIG_QEMU_TYPE_USER=y
CONFIG_QEMU_SYSROOT_REQUIRED=y
CONFIG_QEMU_EXE="qemu-arm"
CONFIG_QEMU_DEBUG_PORT=1234
CONFIG_GDB_PATH="/usr/bin/gdb-multiarch"
CONFIG_PROBE_OPENOCD=y
CONFIG_DISASSEMBLY=y
CONFIG_LICENSE=y
CONFIG_LICENSE_YEAR="2026"
CONFIG_LICENSE_AUTHOR_NAME="Lucas Dietrich"
CONFIG_LICENSE_APACHE=y
# CONFIG_LICENSE_MIT is not set
CONFIG_ENV_FILE=y
CONFIG_GIT=y
CONFIG_GIT_DEFAULT_BRANCH="main"
# CONFIG_GIT_USER_CONFIG is not set
CONFIG_GIT_FIRST_COMMIT=y
CONFIG_GIT_FIRST_COMMIT_MESSAGE="First commit (with Embark !)"
CONFIG_GIT_ORIGIN=""
CONFIG_JUSTFILE=y
CONFIG_VSCODE=y
CONFIG_VSCODE_RECOMMENDED_EXTENSIONS=y
